<mat-tab-group class="sp-table">
  <mat-tab label="Ingestion Cv" routerLinkActive="routerLinkActive">
    <mat-card class="example-card sp-table">
      <mat-card-header>
        <mat-card-title>Ingestion Cv</mat-card-title>
        <mat-card-subtitle>Informations sur le Cv </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <form #f="ngForm" (ngSubmit)="onSaveCv(f.value)">
          <div class="form-group marg">
            <div class="margh">
              <label class="control-label"> Nom Cv </label>
              <input  matInput type="text" name="nomCv" class="form-control" ngModel  [(ngModel)]="nomCv">
            </div>
            <div class="margh">
            <table class="example-full-width" cellspacing="0" class="sp-table">
              <tr>
                <td class="marg">
                  <label class="control-label marg"> Disponibilité </label>
                  <input matInput [matDatepicker]="picker" placeholder="disponibilite" name="disponibilite" ngModel  [(ngModel)]="disponibilite">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </td>
                <td class="margleft">
                  <label class="control-label marg"> Mobilite </label>
                  <input matInput placeholder="le région" type="text" name="mobilite" ngModel  [(ngModel)]="mobilite" required="required">
                </td>
                <!--<td>
                  <div class="form-group">
                    <input type="file" name="nomfile" (change)="onSelectedFile($event)" />
                  </div>
                </td>-->
              </tr>
              <tr >

              </tr>
            </table>
            </div>
            <div class="margh">
                  <label class="control-label">Contenu Cv :</label>
                  <textarea matInput class="form-control" rows="20" name="contenu" ngModel  [(ngModel)]="contenu" required="required"></textarea>
            </div>
          </div>
          <button type="submit" class=" btn btn-success" [disabled]="!f.valid"> Valider Saisie Cv </button>

        </form>

      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
