.spacerhaut{

  margin-top: 90px;
}
.sp-table{
  margin-top: 20px;
}

.spacer-card{
  margin-top: 60px;
}
.espace-bottom{

  margin-bottom: 150px;
}
.espace{
  margin-top: 40px;
}
.example-full-width {
  width: 100%;
}
td {
  padding-right: 8px;
}


.example-margin {
  margin: 0 10px;
}
.spacerht{

  margin-top: 30px;
}
