.example-spacer{
  flex: 1 1 auto;
}
.example-icon{
  padding: 0 14px ;
  cursor: pointer;
}
.example-btn{
  margin-left: 100px;
}
.espace-haut{
  margin-top: 150px;
}
.spacerhaut{
  margin-top: 50px;
}
.margh{
  margin-top: 20px;
}
.margin-bas{
  margin-bottom: 10px;
}

.steps input[type=checkbox] {
  display: none;
}
.form-login {
  max-width: 350px;
  margin: 50px auto 0;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
  margin: 0;
  padding: 25px 20px;
  text-align: center;
  background: #4ecdc4;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
.login-wrap {
  padding: 20px;
}
.login-wrap .registration {
  text-align: center;
}
.login-social-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
}
.btn-theme {
  color: #fff;
  background-color: #4ECDC4;
  border-color: #48bcb4;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #48bcb4;
  border-color: #48bcb4;
}
.btn-facebook {
  color: #fff;
  background-color: #5193ea;
  border-color: #2775e2;
  margin-right: 10px;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #fff;
  background-color: #2775e2;
  border-color: #2775e2;
}

.btn-twitter {
  color: #fff;
  background-color: #44ccfe;
  border-color: #2bb4e8;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #fff;
  background-color: #2bb4e8;
  border-color: #2bb4e8;
}
.btn {
  margin-bottom: 5px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #797979;
}
.centered {
  text-align: center;
}
