<mat-tab-group>

<mat-tab label="Technologies">
  <mat-card class="example-card sp-table">
    <mat-card-header>
      <mat-card-title>Nom Technologie</mat-card-title>
      <mat-card-subtitle>Information ajouter une technologie </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <form #f="ngForm" (ngSubmit)="onSaveTechnolgie(f.value)">
        <div class="form-group  margh">
          <div>
            <label class="control-label"> Technologie </label>
            <input  matInput type="text" name="nomTechnologie" class="form-control" ngModel  [(ngModel)]="nomTechnologie" required="required">
          </div>
          <div class=" margh">
            <label class="control-label"> Expérience </label>
            <input  matInput type="text" name="experience" class="form-control" ngModel  [(ngModel)]="experience" required="required">
          </div>
        </div>
        <button type="submit" class=" btn btn-success margh" [disabled]="!f.valid"> Valider  </button>

      </form>

    </mat-card-content>

  </mat-card>

</mat-tab>

</mat-tab-group>
