<mat-tab-group class="sp-table">
  <mat-tab label="Saisie Offre " routerLinkActive="routerLinkActive">
    <mat-card class="example-card sp-table">
      <mat-card-header>
        <mat-card-title>Ingestion Offre </mat-card-title>
        <mat-card-subtitle>Informations sur le Offre  </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
            <form #f1="ngForm" (ngSubmit)="onSaveOffre(f1.value)">
              <div class="form-group margh">
                <div class="margh">
                  <label class="control-label"> Nom d'offre </label>
                  <input  matInput type="text" name="nomOffre" class="form-control" ngModel  [(ngModel)]="nomOffre" required="required">
                </div>
                <div class="margh">
                  <label class="control-label"> Source </label>
                  <input  matInput type="text" name="source" class="form-control" ngModel  [(ngModel)]="source" required="required">
                </div>
                <div class="margh">
                <table class="example-full-width" cellspacing="0" class="sp-table">
                  <tr>
                    <td>
                      <label class="control-label marg"> Date de début d'offre  </label>
                      <input matInput [matDatepicker]="picker1" placeholder="date début souhaite" name="dateDebut" ngModel  [(ngModel)]="dateDebut" required="required">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </td>
                    <td>
                      <label class="control-label marg"> Date de fin d'offre </label>
                      <input matInput [matDatepicker]="picker2" placeholder="date maximal d'acceptation" name="dateAcceptation"
                                                                ngModel  [(ngModel)]="dateAcceptation" required="required">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </td>
                  </tr>
                  <tr >
                  </tr>
                </table>
                </div>
                <div class="margh">
                  <label class="control-label">Contenu d'offre d'emploie :</label>
                  <textarea matInput class="form-control" rows="20" name="contenuOffre" required="required" ngModel  [(ngModel)]="contenuOffre"></textarea>
                </div>
              </div>
              <button type="submit" class=" btn btn-success" [disabled]="!f1.valid"> Valider Ingestion Offre </button>

            </form>


      <!-- pour modifier cv-->
<!--
      <div *ngIf="mode=='editCv'" class="col-md-6">
        <form #f="ngForm" (ngSubmit)="onUpdateCategorie(f.value)">
          <div class="form-group">
            <label class="control-label"> Nom CV</label>
            <input type="text" name="nomCv" class="form-control" ngModel [(ngModel)]="currentcv.nomCategorie">
          </div>
          <div class="form-group">
            <label class="control-label"> Disponibilite </label>
            <input type="text" name="disponibilite" class="form-control" ngModel [(ngModel)]="currentcv.disponibilite">
          </div>
          <div class="form-group">
            <label class="control-label">Mobilité  </label>
            <input type="text" name="mobilite" class="form-control" ngModel [(ngModel)]="currentcv.mobilite">
          </div>
          <div class="form-group">
            <label class="control-label"> Contenu </label>
            <input type="text" name="contenu" class="form-control" ngModel [(ngModel)]="currentcv.contenu">
          </div>
          <button type="submit" class=" btn btn-success" [disabled]="!f.valid"> Modifier </button>
        </form>
      </div>

      <div  class="container">
        <div class="row col-md-8">
          <table class="table table-hover" *ngIf="listCvs">
            <thead>
            <tr>
              <td>Nom CV</td><td>Disponibilite</td>
              <td>Mobilite</td><td>Contenu</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of listCvs">

              <td>{{c.nomCv}}</td><td>{{c.disponibilite}}</td>
              <td>{{c.mobilite}}</td><td>{{c.contenu}}</td>
              <td>
                <button mat-flat-button color="warn" (click)="onDeleteCv(c)">Delete</button>
              </td>
              <td>
                <button mat-flat-button color="accent"  (click)="onEditCV(c)">Edit</button>
              </td>
            </tr>
            </tbody>
          </table></div>
      </div>-->



</mat-card-content>

    </mat-card>

  </mat-tab>

</mat-tab-group>
