<mat-tab-group class="sp-table">
  <mat-tab label="Gestions des Formations">
    <mat-card class="example-card sp-table">
      <mat-card-header>
        <mat-card-title>Gestion du Formation</mat-card-title>
        <mat-card-subtitle>Modifier et supprimer une formation </mat-card-subtitle>
      </mat-card-header>


      <div  class="container" *ngIf="mode=='editFormation'">

        <form #f="ngForm" (ngSubmit)="onUpdateFormation(f.value)">
          <div class="form-group margh">
            <div>
              <label class="control-label"> Niveau d'étude </label>
              <input  matInput type="text" name="niveauEtude" class="form-control" ngModel  [(ngModel)]="currentformation.niveauEtude">
            </div>
          </div>
          <button type="submit" class=" btn btn-success margh" [disabled]="!f.valid"> Valider Modification  </button>
        </form>
      </div>


      <div  class="container" *ngIf="mode=='list'">
        <div class="row col-md-6">
          <table class="table table-striped" *ngIf="listFormations">
            <tr>
              <td>Niveau d'étude</td><td>Supprimer</td><td>Editer</td>
            </tr>
            <tr *ngFor="let forma of listFormations._embedded.formations">
              <td>{{forma.niveauEtude}}</td>
              <td>
                <button mat-flat-button color="warn" (click)="onDeleteFormation(forma)">Delete</button>
              </td>
              <td>
                <button mat-flat-button color="accent"  (click)="onEditFormation(forma)">Edit</button>
              </td>
            </tr>
          </table></div>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>


