<mat-tab-group class="sp-table">
  <mat-tab label="Classification CV  par Titre du Poste">
    <mat-card class="example-card sp-table">
      <mat-card-header>
        <mat-card-title>Classification Cv -titre du Poste </mat-card-title>
        <mat-card-subtitle>Informations cv - titre poste </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

       <!-- <form #f="ngForm" (ngSubmit)="onSavePoste(f.value)">
          <div class="form-group margh">
            <div>
              <label class="control-label"> Nom Poste </label>
              <input  type="text" name="nomPoste" class="form-control"  ngModel  [(ngModel)]="nomPoste" required="required">
            </div>
          </div>

          <button type="submit" class=" btn btn-success margh" [disabled]="!f.valid"> Valider</button>

        </form>-->

      </mat-card-content>

    </mat-card>
  </mat-tab>
</mat-tab-group>
