<div class="container col-md-12 espace-h espace-bas">
<div class="row">

  <div class="col-md-3">
    <div class="card h-80">
      <a href="#"><img class="card-img-top" src="assets/image/big-data.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Collection d'Offre d'Emploi</a>
        </h4>
        <h5>Ingestion</h5>
        <p class="card-text">Toutes les informations sur le recrutement, l'emploi ...
          Récuperer de nombreuses offres d'emploi de la fonction publique,
          par région, cadre ... </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><!--&#9733; &#9733; &#9733; &#9733; &#9734;-->
          <a routerLink="/register" class="text-center"><h4> s'inscrire</h4></a>
        </small>
      </div>
    </div>
  </div>

  <div class="col-md-6 ">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src=" assets/image/big.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Systéme d'analyse des données </a>
        </h4>
        <h5>BigData</h5>
        <p class="card-text">Notre système s’intéresse a récupérér les offres d’emplois par les
          recruteurs et entre le cv par le chercheurs d’emplois et faire l’analyse
          et le matching nécessaire et avoir quelles sont les offres qui correspond avec ces cv.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><!--&#9733; &#9733; &#9733; &#9733; &#9734;-->
             <a routerLink="/register" class="text-center"><h4> s'inscrire</h4></a> </small>
      </div>
    </div>
  </div>

<div class="col-md-3">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="assets/image/ana.png" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">Analyse Cv </a>
        </h4>
        <h5>Matchez</h5>
        <p class="card-text">le CV reste l’outil principal pour jauger un candidat. Savoir qualifier rapidement et
          surtout efficacement un CV vous permettra d’être plus pertinent également en entretien.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a routerLink="/register" class="text-center"><h4> s'inscrire</h4></a> <!--&#9733; &#9733; &#9733; &#9733; &#9734;--></small>
      </div>
    </div>
  </div>

</div>
</div>
