
<div id="login-page" class="margin-bas">
  <div class="container">
    <form class="form-login card" #f="ngForm" (ngSubmit)="onSaveClient(f.value)">
      <h2 class="form-login-heading">Créer Votre compte</h2>
      <div class="login-wrap">
        <input type="text" class="form-control" placeholder="User ID" autofocus name="userName"
               ngModel [(ngModel)]="userName" required="required" />
        <br>
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password"
               name="password" ngModel="" required="required"/>
        <br>
        <input type="password" class="form-control" placeholder="confirmedPassword" [(ngModel)]="confirmedPassword"
               name="confirmedPassword" ngModel="" required="required"/>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Souviens-toi de moi
          <span class="pull-right">
            <a data-toggle="modal" href="login.html#myModal"> Mot de passe oublié?</a>
            </span>
        </label>
        <button class="btn btn-theme btn-block"  type="submit" [disabled]="!f.valid" ><i class="fa fa-lock" aria-hidden="true"></i>
          SE CONNECTER</button>
        <hr>
        <div class="login-social-link centered">
          <p>ou vous pouvez vous connecter via votre réseau social</p>
          <button class="btn btn-facebook" type="submit"> <i class="fab fa-fw fa-facebook-f"></i>Facebook</button>
          <button class="btn btn-twitter" type="submit"><i class="fab fa-fw fa-twitter"></i> Twitter</button>
        </div>
        <div class="registration">
          Vous n'avez pas encore de compte?<br/>
          <a class="" routerLink="/login">
            Connectez Vous Maintenant
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
